html, body{
    height: 100%;
}

#side-panel{
    background-color: rgb(135, 124, 108);
}

#heading{
    height: 8vh !important;
    background-color: #90a9cf;
}

#details{
    height: 90vh !important;
}
/* 
#side-panel-top{
    height: 6vh;
    background-color: #e3ebf7;
} */

.scrollable-content{
    position: relative;
    overflow-y: scroll;
    height: 85vh;
}

.container{
    display: table;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    /* margin-top: -6vh;
    padding-top: 6vh; */
}

.row{
    height: 100%;
    display: table-row;
}

.col{    
    display: table-cell;
    float: none;
    padding: 0px;
}

#side-panel{
    background-color: rgb(243, 244, 245);
}

#main-panel{
    background-color: rgb(255, 255, 255);
    position: relative;
    top: -5vh;
}

.nav-pills, .nav-link{
    --mdb-nav-pills-link-padding-x: 12px !important;
    --mdb-nav-pills-link-padding-top: 12px !important; 
    --mdb-nav-pills-link-padding-bottom: 12px !important; 
}


/* .scrollbar-black {
    scrollbar-color: black rgb(213, 213, 213);
} */

/* .scrollbar-black::-webkit-scrollbar{
    border-radius: 10px;
    width: 5px;
    background-color: #e3ebf7;
}
.scrollbar-black::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #e3ebf7;
    box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.1);
}

.scrollbar-black::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #285192;
    box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.1);
} */

#btn-raw{
    margin-top: 16px;
    margin-bottom: 16px;
} 

.glyph-buttons{
    float: right;
}

.glyph-property{
    position: relative; 
    top: 6px;
    height: 52px;
    display: inline-block;
}

.list-group-item{
    padding-left: 16px !important;
    padding-right: 16px !important;
}

/* From Aishwarya's code */

#side-panel {
    position: absolute;
    border-right: 0.1em solid lightgrey;
    overflow-y: scroll;
}

#side-container {
    height: 100vh;
}

#lasso-selectable-area, #x-axis-content, circle {
    pointer-events:"bounding-box";
}

/* Lasso selection */
.lasso path {
    stroke: rgb(110, 110, 110);
    stroke-width: 2px;
}

.lasso .drawn {
    fill-opacity: .05;
}

.lasso .loop_close {
    fill: none;
    stroke-dasharray: 4, 4;
}

.lasso .origin {
    fill: #3399FF;
    fill-opacity: .5;
}

.not_possible {
    fill: rgb(200, 200, 200);
}

.possible {
    fill: #EC888C;
}

.selected, .singleHL {
    stroke: black;
    stroke-width: 2px;
}

#colorPicker, #imgInput{
    width: 100%;
    margin-bottom: 10px;
}

/* #pick-text, #upload-text, #range-text, #double-range-slider{
    position:relative;
    top:10px;
} */

.btn-secondary{
    background-color: white;
    color: black;
    margin-top: 10px;
}

.irs--flat .irs-bar{
    background-color: #0d6efd;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
    background-color: #0d6efd;
}

.irs--flat .irs-handle > i:first-child {
    background-color: #0d6efd;
}

#pill-overview-tab, #pill-chart-tab, #pill-details-tab{
    height: 50px;
    margin-bottom: 10px;
}

h6{
    font-weight: bold;
    margin-top: 10px;
}

body>svg{
    cursor: pointer;
}


